<<<<<<< HEAD
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(53, 53, 53);
}

header
{
    background-image: linear-gradient(rgba(164, 235, 185, 0.5),rgba(174, 244, 253, 0.5)), url("../img/bg.jpg");
    height: 75vh;
    background-attachment: fixed;
    background-position:top;
    background-size: cover;
}

#head {
    color: rgb(53, 53, 53);
    font-family: 'Raleway', sans-serif;
}
.hi
{
    height: 60px;
}
.logo
{
    text-align: left;
    letter-spacing: 2px;
    color: rgb(53, 53, 53);
    /* margin-top: 3px; */
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
}

.he
{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.he:hover{

    text-align: center;
    color: white;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-bottom: 3px solid #14CC60;

}
.but
{
    background-color: #F68D27;
    font-family: 'Roboto', sans-serif;
    text-align: end;
    margin-top: 7px;
    color: white;
}

.but:hover {
    background-color: rgb(170, 86, 2);
}
.qou
{
    text-align: center;
    margin-top: 170px;
}
.qoum
{
    font-size: 60px;
    color: white;
    /*padding-top: 20vh; */
}

.but1
{
    background-color:#F68D27;
=======
p{
    text-align: center;
>>>>>>> Mint_NavBar
    font-size: 20px;
}
