html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(53, 53, 53);
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

header
{
    background-image: linear-gradient(rgba(164, 235, 185, 0.5),rgba(174, 244, 253, 0.5)), url("../img/bg.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position:top;
    background-size: cover;
}

.ion-paper-airplane {
    color: #14CC60;
}

#head {
    color: rgb(53, 53, 53);
    font-family: 'Raleway', sans-serif;
}
.hi
{
    height: 60px;
}
.logo
{
    text-align: left;
    letter-spacing: 2px;
    color: rgb(53, 53, 53);
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    width: fit-content;
    float: left;
}
.nav {
    float: right;
}

.he
{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
}
.he:hover{

    text-align: center;
    color: white;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-bottom: 3px solid #14CC60;

}
.but
{
    background-color: #F68D27;
    font-family: 'Roboto', sans-serif;
    text-align: end;
    margin-top: 7px;
    color: white;
}

.but:hover {
    background-color: rgb(170, 86, 2);
}
.qou
{
    text-align: center;
    position: relative;
    height: 100%;
}
.centerVH {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.qoum
{
    font-size: 60px;
    color: white;
}

.but1
{
    background-color:#F68D27;
    font-size: 20px;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    color: white;
}
.but1:hover {
    background-color: rgb(170, 86, 2);
}

h2 {
    padding: 35px 0px;
}

.cont, 
.cont1, 
.cont2
{
    text-align: center;
    height: 100%;
    position: relative;
}
.cont1 {
    background-color: gainsboro;
}
.cont2 {
    background-color: #1b1e21;
}

.cont .section-img, 
.cont1 .section-img, 
.cont2 .section-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 70%;
    height: auto;
}

.cont p, 
.cont1 p, 
.cont2 p
{
    font-size: 1.5rem;
}

.cont .row,
.cont1 .row {
    height: calc(100% - 112px);
}

.cont .description,
.cont1 .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cont .description-img img,
.cont1 .description-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.k1, .k2, .k3, .k4 {
    margin-top: -50px;
}
.k1
{
    text-align: center;
    color:#3B5998;
    font-size: 80px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    width: 200px;
}
.k2
{
    text-align: center;
    color: #e1306c;
    font-size: 80px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.k3
{
    text-align: center;
    color: #6e5494;
    font-size: 80px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.k4
{
    text-align: center;
    color: #1da1f2;
    font-size: 80px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;

}
.k:hover{
    text-align: center;
    color: #F7F7F7;
    font-size: 80px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;

}

.placeholders {
    padding-bottom: 3rem;
}
.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.center-pills { display: inline-block; }

.contact-box {
    height: 300px;
    text-align: center;
    background-color: #1b1e21;
}

#contact-head {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 40px;
    margin-bottom: 40px;
    border-bottom: .5px solid white;
    display: inline-block;

}

#nav {
    justify-content: flex-end;
}

.description {
    font-size: 16px;
}
.navbar{
    padding-top: 10px;
}

.social {
    width: 100%;
    text-align: center;
}

.social a {
    display: inline-block;
}