.cont{
    margin-top: 25px;
    text-align: center;
    height: 450px;
}
.cont1
{   text-align: center;
    background-color: gainsboro;
    height: 450px;
}
.cont2
{   text-align: center;
    background-color: #1b1e21;
    height: 450px;
}
.description {
    font-size: 16px;
}
