@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body {
    margin: 0;
    padding: 0;
    background-image: url(bg.jpg);
    background-size: cover;
    font-family: sans-serif;
}

/*header{
	background-image: none;
	color: white;
	padding: 8px 0px 6px 4px;
	height: 60px;

}*/
header h1 {
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
}

nav ul {
    display: inline;
    padding: 0px;
    float: left;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
    float: left;
    margin-left: 12px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#nav {
    font-family: "Montserrat";
}

.divider {
    height: 7px;
}

.homered {
    background-color: #808080;
    padding: 27px 10px 36px 10px;
}

.homeblack:hover {
    font-size: 25px;
    padding: 27px 10px 19px 10px;
}

header.formcontainer {
    position: relative;
    min-height: 900px;
}

.signupbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 80px 40px;
    margin-top: 150px;
    width: 600px;
    height: 700px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 30px;
}

.user {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-220px/2);
    left: calc(50% - 90px);
}

h2 {
    margin-top: -40px;
    padding: 0px 0px 20px;
    color: black;
    text-align: center;
}

.signupbox input {
    width: 100%;
    margin-bottom: 20px;
}

.signupbox input[type="text"],
.signupbox input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 30px;
    color: black;
    font-family: "Oswald";
    font-size: 20px;
    margin-bottom: 20px;
}

::placeholder {
    color: black;
}

.signupbox input[type="submit"] {
    background-color: #14CC60;
    color: black;
    border: none;
    height: 50px;
    font-size: 1.4em;
    padding: 0 1em;
    cursor: pointer;
    outline: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    width: 300px;
    margin-left: 100px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    margin-top: -10px;
}

.signupbox input[type="submit"] {
    background: #14CC60;
    color: black;
}

.signupbox a {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    height: 30px;
    color: white;
    font-family: "Oswald";
    font-size: 20px;
}