body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(53, 53, 53);
}

header {
    background-image: linear-gradient(rgba(164, 235, 185, 0.5), rgba(174, 244, 253, 0.5)), url("../img/bg.jpg");
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.logo {

    color: rgb(53, 53, 53);
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
}

@media only screen and (min-width:576px) {
    .logo {
        font-size: 35px;
    }
}

@media only screen and (min-width:768px) {
    .logo {
        font-size: 40px;
    }
}

.col {
    padding-right: 8.333%
}

.he {
    text-align: center;
    color: white;
    font-size: 20px;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
}

.he:hover {

    text-align: center;
    color: white;
    margin-top: 4px;
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 1px;
    border-bottom: 3px solid #14CC60;

}

.but {
    background-color: #14CC60;
    font-family: 'Roboto', sans-serif;
    /* text-align: end;
    margin-top: 7px; */
    border-radius: 0.25rem;
    color: white !important;
}

.but:hover {
    background-color: #14CC60;
}

.navbar-nav .nav-link.login {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.qou {
    text-align: center;
    margin-top: 170px;
}

.qoum {
    color: rgb(53, 53, 53);
    font-family: 'Raleway', sans-serif;
    padding-top: 20vh;
    font-size: 40px;
}

@media only screen and (min-width:576px) {
    .qoum {
        font-size: 50px;
    }
}

@media only screen and (min-width:768px) {
    .qoum {
        font-size: 60px;
    }
}

.but1 {
    background-color: #14CC60;
    font-size: 20px;
    text-align: end;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    transition: transform 0.2s linear, box-shadow 0.2s linear;
}

.but1 a {
    color: white;
}

.but1:hover {
    transform: scale(1.04);
    box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.4);
    /* background-color: rgb(170, 86, 2); */
}

/* h2 {
    margin-top: 35px;
} */

div {
    align-items: center;
}


.lk {
    color: white;
    font-size: 20px;

}


.placeholders {
    padding-bottom: 3rem;
}

.placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.center-pills {
    display: inline-block;
}

.contact-box {
    /* height: 300px;
        text-align: center; */
    background-color: #0BC675;
}

#contact-head {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    font-weight:bolder;
    margin:20px 20px 40px 20px;
}


.navbar {
    padding-top: 10px;
}


.nav a {
    padding: 10px 0px;
}

.nav li {
    align-items: center;
}
